body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f2f2f2;
    font-family:Arial;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px gray;
}

button{
    padding:12px 25px;
    font-size:18px;
    cursor:pointer;
}
